.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .index-logo {
    // width: 40%;
    margin: 30px auto;
    overflow: hidden;
    img {
      width: 150px;
      // width: 100%;
    }
  }
  .home-search-container {
    display: flex;
    justify-content: center;
  }
  .home-search.ant-input-search {
    width: 700px;
  }
  .receipe-swiper-wrapper {
    width: 100%;
    max-width: 1000px;
    min-width: 700px;
    margin: 80px auto;
    .swiper-pagination-bullet {
      position: relative;
      bottom: -10px;
    }
  }
  
  .receipe-index-item {
    transform: scale(0.7);
    border-radius: 4px;
    transition: all 0.4s;
    transform-origin: top;
    .receipe-name {
      background: #ffc33b;
      margin: 0;
      padding: 0 15px;
      border-radius: 4px 4px 0 0;
      display: block;
      width: fit-content;
      color: white;
      font-size: 12px;
      font-weight: bolder;
    }
  }
  .receipe-center {
    transform: scale(1);
  }
  .receipe-center-side {
    transform: scale(0.85);
  }
}






